@(project: com.walmart.productgenome.matching.models.data.Project)

<!-- Add matcher modal -->
<div class="modal hide fade" id="add_matcher_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h4 class="modal-title">Add a matcher</h4>
      </div>
      <div class="modal-body">
        @if(project.getTableNames() == null || project.getTableNames().isEmpty()) {
            <p class="text-center danger"><b>No tables found</b></p>
        }
        @if(project.getRuleNames() == null || project.getRuleNames().isEmpty()) {
            <p class="text-center danger"><b>No rules found</b></p>
        }
        @if(project.getTableNames() != null && !project.getTableNames().isEmpty() && project.getRuleNames() != null && !project.getRuleNames().isEmpty()) {
              <form class="form-horizontal" id="add_matcher_form"
                      data-target="#add_matcher_modal" method="post"
                    action="@controllers.project.routes.MatcherController.addMatcher(project.getName())" role="form">
                
                   <fieldset>              
                   <div class="control-group">
                       <label class="control-label" for="matcher_name"><b>Matcher Name</b></label>
                       <div class="controls">
                           <input type="text" id="matcher_name" name="matcher_name" required>
                       </div>
                   </div>
                   </fieldset>
     
                   <br />
                   <div>
                   <h5>A matcher is a <u>disjunction</u> of rules. Select the rules below for this matcher.</h5>
                   <center>
                   <table id="matcher_table">
              	   	<tr id="row_am_0">
              			<th>Rules</th>
              		</tr>
   					<tr id="row_am_1">
     					<td>  
                        	<select class="rule_name" id="rule_name_1" name="rule_name_1" style="width:250px">
                        		@for(ruleName <- project.getRuleNames()){
                         			<option value="@ruleName">@ruleName</option>
                         		}
                            </select>  
                       	</td>
                    </tr>
					</table>
					</center>
					</div>
					<br />
					<div>
						<center>
        					<input type="button" id="btAdd_am" value="Add Rule" class="bt" project_name="@project.getName()" />
        					<input type="button" id="btRemove_am" value="Remove Rule" class="bt" />
        					<input type="button" id="btRemoveAll_am" value="Remove All Rules" class="bt" /><br />
        				</center>
    				</div>
    				<br /><br />
					
					<div class="control-group">
                       <div class="controls">
                           <input type="checkbox" name="save_to_disk" checked> Save the matcher to disk
                       </div>
                    </div>
            </form>
          }
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button form="add_matcher_form" class="btn btn-primary" type="submit">Add</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->