@(project: com.walmart.productgenome.matching.models.data.Project)

<!-- Compare learning-based models using train-test evaluation modal -->
<div class="modal hide fade" id="compare_models_using_train_test_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h4 class="modal-title">Compare learning-based models using train-test evaluation</h4>
      </div>
      <div class="modal-body">
      	@if(project.getTableNames() == null || project.getTableNames().isEmpty()) {
            <p class="text-center danger"><b>No tables found</b></p>
        }
        @if(project.getFeatureNames() == null || project.getFeatureNames().isEmpty()) {
            <p class="text-center danger"><b>No features found</b></p>
        }
        @if(project.getTableNames() != null && !project.getTableNames().isEmpty() && project.getFeatureNames() != null && !project.getFeatureNames().isEmpty()) {
	      	<form class="form-horizontal" id="compare_models_using_train_test_form"
	      			data-target="#compare_models_using_train_test_modal" method="post"
	                action="@controllers.project.routes.MatcherController.compareModelsUsingTrainTest(project.getName())" role="form">
	        	
	           	<fieldset>
	           		<div class="control-group">        
	                   	<label class="control-label" for="trainset_name_cmtt"><b>Training Data</b></label>  
	                   	<div class="controls">  
	                       	<select id="trainset_name_cmtt" name="trainset_name">
	                        	@for(tableName <- project.getTableNames()) {
	                        		@if(tableName.equals(project.getDefaultGold())) {
	                               		<option value="@tableName" selected>@tableName</option>
	                               	}
	                               	@if(!tableName.equals(project.getDefaultGold())) {
	                               		<option value="@tableName">@tableName</option>
	                               	}
	                           	}
	                        </select>  
	                   	</div>
	               	</div>
	               	
	               	<div class="control-group">        
	                   	<label class="control-label" for="testset_name_cmtt"><b>Test Data</b></label>  
	                   	<div class="controls">  
	                       	<select id="testset_name_cmtt" name="testset_name">
	                        	@for(tableName <- project.getTableNames()) {
	                        		@if(tableName.equals(project.getDefaultGold())) {
	                               		<option value="@tableName" selected>@tableName</option>
	                               	}
	                               	@if(!tableName.equals(project.getDefaultGold())) {
	                               		<option value="@tableName">@tableName</option>
	                               	}
	                           	}
	                        </select>  
	                   	</div>
	               	</div>
	               	
	           		<div class="control-group">        
	                   	<label class="control-label" for="table1_name_cmtt"><b>Table 1</b></label>  
	                   	<div class="controls">  
	                       	<select id="table1_name_cmtt" name="table1_name">
	                        	@for(tableName <- project.getTableNames()) {
	                        		@if(tableName.equals(project.getDefaultTable1())) {
	                               		<option value="@tableName" selected>@tableName</option>
	                               	}
	                               	@if(!tableName.equals(project.getDefaultTable1())) {
	                               		<option value="@tableName">@tableName</option>
	                               	}
	                           	}
	                        </select>  
	                   	</div>
	               	</div>
	               	<div class="control-group">        
	                   	<label class="control-label" for="table2_name_cmtt"><b>Table 2</b></label>  
	                   	<div class="controls">  
	                       	<select id="table2_name_cmtt" name="table2_name">
	                        	@for(tableName <- project.getTableNames()) {
	                        		@if(tableName.equals(project.getDefaultTable2())) {
	                               		<option value="@tableName" selected>@tableName</option>
	                               	}
	                               	@if(!tableName.equals(project.getDefaultTable2())) {
	                               		<option value="@tableName">@tableName</option>
	                               	}
	                           	}
	                        </select>  
	                   	</div>
	               	</div>
	               	
	               	<div class="control-group">        
	                   	<label class="control-label" for="feature_names_cmtt"><b>Features</b></label>  
	                   	<div class="controls">  
	                       	<select id="feature_names_cmtt" name="feature_names[]" multiple>
	                       		@for(featureName <- project.getFeatureNames()) {
	                       			<option value="@featureName">@featureName</option>
	                       		}
                      		</select>  
	                   	</div>
	                   	<div class="controls">
            				<input type="button" id="select_all_features_cmtt" value="Select All">
            				<input type="button" id="select_no_features_cmtt" value="Select None">
            			</div>
	               	</div>
	               	
	               	<div class="control-group">        
	                   	<label class="control-label" for="model_names_cmtt"><b>Model</b></label>  
	                   	<div class="controls">  
	                       	<select id="model_names_cmtt" name="model_names[]" multiple>
	                       		<option value="RF">Random Forest</option>
	                       		<option value="J48">Decision Tree</option>
	                       		<option value="NB">Naive Bayes</option>
	                       		<option value="IBK">K-Nearest Neighbors</option>
	                       		<option value="SMO">Support Vector Machine (SMO)</option>
	                       		<option value="ABM1">AdaBoostM1</option>
	                       		<option value="STACKING">Stacking</option>
	                       		<option value="LB">Logit Boost</option>
	                       		<option value="GBRT">Gradient Boosting Trees</option>
                      		</select>  
	                   	</div>
	                   	<div class="controls">
            				<input type="button" id="select_all_models_cmtt" value="Select All">
            				<input type="button" id="select_no_models_cmtt" value="Select None">
            			</div>
	               	</div>
	               	        
               	</fieldset> 
	        </form>
      	}
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button form="compare_models_using_train_test_form" class="btn btn-primary" type="submit">Compare</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->