@(project: com.walmart.productgenome.matching.models.data.Project)

<!-- Learn rules using active learning modal -->
<div class="modal hide fade" id="learn_rules_using_active_learning_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
        <h4 class="modal-title">Learn rules using active learning</h4>
      </div>
      <div class="modal-body">
      	@if(project.getTableNames() == null || project.getTableNames().isEmpty()) {
            <p class="text-center danger"><b>No tables found</b></p>
        }
        @if(project.getFeatureNames() == null || project.getFeatureNames().isEmpty()) {
            <p class="text-center danger"><b>No features found</b></p>
        }
        @if(project.getTableNames() != null && !project.getTableNames().isEmpty() && project.getFeatureNames() != null && !project.getFeatureNames().isEmpty()) {
	      	<form class="form-horizontal" id="learn_rules_using_active_learning_form"
	      			data-target="#learn_rules_using_active_learning_modal" method="post"
	                action="@controllers.project.routes.RuleController.learnRulesActiveLearning(project.getName())" role="form">
	        	
	           	<fieldset>
	           		<div class="control-group">        
	                   	<label class="control-label" for="unlabeled_pairs"><b>Unlabeled Pairs</b></label>  
	                   	<div class="controls">  
	                       	<select id="unlabeled_pairs" name="unlabeled_pairs">
	                        	@for(tableName <- project.getTableNames()) {
	                        		@if(tableName.equals(project.getDefaultCandset())) {
	                               		<option value="@tableName" selected>@tableName</option>
	                               	}
	                               	@if(!tableName.equals(project.getDefaultCandset())) {
	                               		<option value="@tableName">@tableName</option>
	                               	}
	                           	}
	                        </select>  
	                   	</div>
	               	</div>
	               	
	               	<div class="control-group">        
	                   	<label class="control-label" for="seed_labeled_pairs"><b>Seed Labeled Pairs (at least two positive and two negative pairs to start active learning)</b></label>  
	                   	<div class="controls">  
	                       	<select id="seed_labeled_pairs" name="seed_labeled_pairs">
	                        	@for(tableName <- project.getTableNames()) {
	                        		@if(tableName.equals(project.getDefaultGold())) {
	                               		<option value="@tableName" selected>@tableName</option>
	                               	}
	                               	@if(!tableName.equals(project.getDefaultGold())) {
	                               		<option value="@tableName">@tableName</option>
	                               	}
	                           	}
	                        </select>  
	                   	</div>
	               	</div>
	               	
	           		<div class="control-group">        
	                   	<label class="control-label" for="table1"><b>Table 1</b></label>  
	                   	<div class="controls">  
	                       	<select id="table1_name_al" name="table1_name">
	                        	@for(tableName <- project.getTableNames()) {
	                        		@if(tableName.equals(project.getDefaultTable1())) {
	                               		<option value="@tableName" selected>@tableName</option>
	                               	}
	                               	@if(!tableName.equals(project.getDefaultTable1())) {
	                               		<option value="@tableName">@tableName</option>
	                               	}
	                           	}
	                        </select>  
	                   	</div>
	               	</div>
	               	<div class="control-group">        
	                   	<label class="control-label" for="table2"><b>Table 2</b></label>  
	                   	<div class="controls">  
	                       	<select id="table2_name_al" name="table2_name">
	                        	@for(tableName <- project.getTableNames()) {
	                        		@if(tableName.equals(project.getDefaultTable2())) {
	                               		<option value="@tableName" selected>@tableName</option>
	                               	}
	                               	@if(!tableName.equals(project.getDefaultTable2())) {
	                               		<option value="@tableName">@tableName</option>
	                               	}
	                           	}
	                        </select>  
	                   	</div>
	               	</div>
	               	
	               	<div class="control-group">        
	                   	<label class="control-label" for="validation_percent"><b>Monitoring set percent (%)</b></label>  
	                   	<div class="controls">  
                           	<input type="text" id="validation_percent" name="validation_percent" value="5" required>
	                   	</div>
	               	</div>
	               	
	               	<div class="control-group">        
	                   	<label class="control-label" for="batch_size"><b>Number of pairs to be labeled per iteration</b></label>  
	                   	<div class="controls">  
                           	<input type="text" id="batch_size" name="batch_size" value="10" required>
	                   	</div>
	               	</div>
	               	
	               	<div class="control-group">        
	                   	<label class="control-label" for="feature"><b>Features</b></label>  
	                   	<div class="controls">  
	                       	<select id="feature_names_al" name="feature_names[]" multiple>
	                       		@for(featureName <- project.getFeatureNames()) {
	                       			<option value="@featureName">@featureName</option>
	                       		}
                      		</select>  
	                   	</div>
	                   	<div class="controls">
            				<input type="button" id="select_all_features_al" value="Select All">
            				<input type="button" id="select_no_features_al" value="Select None">
            			</div>
	               	</div>
	               	        
               	</fieldset> 
	        </form>
      	}
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button form="learn_rules_using_active_learning_form" class="btn btn-primary" type="submit">Learn</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->